name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true

      - name: Check out code
        uses: actions/checkout@v4

      - name: Build
        run: go build -o tube2pod -v .

      - name: Test
        run: go test -v ./...
