name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  release:
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true

      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build
        run: CGO_ENABLED=0 GOOS=linux go build -o tube2pod -v .

      - name: Build and Publish Docker image
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: plotnikau/tube2pod
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PWD }}
          tag_semver: true
