name: Update and tag

on:
  workflow_dispatch:

jobs:
  update-deps:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # fetches all history and tags

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true

      - name: Update Go modules
        run: |
          go get -u ./...
          go mod tidy

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update Go dependencies"
          branch: ${{ github.ref_name }}

      - name: Set tag
        id: set_tag
        run: |
          new_tag=$(date -u +'%Y-%m-%d-%H%M')
          echo "New tag: $new_tag"
          git tag "$new_tag"
          git push origin "$new_tag"
          echo "VERSION=$new_tag" >> $GITHUB_OUTPUT

      - name: Trigger Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh workflow run release.yml --ref ${{ steps.set_tag.outputs.VERSION }}
